trigger:
- main

variables:
  PYTHON_VERSION: '3.10'

stages:

# -------------------------
# STAGE 1: DETECT & CLASSIFY
# -------------------------
- stage: DetectAndClassify
  displayName: "Detect and Classify DDL"
  jobs:
  - job: detect
    displayName: "DDL Detection Job"
    pool:
      vmImage: ubuntu-latest

    steps:
    - checkout: self

    - task: UsePythonVersion@0
      inputs:
        versionSpec: $(PYTHON_VERSION)

    - script: |
       echo "Removing old Databricks CLI"
       sudo rm -f /usr/local/bin/databricks

       echo "Installing Databricks CLI v2"
       curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | bash

       echo "Verifying CLI version"
       databricks version
      displayName: "Install Databricks CLI v2 (Clean)"

    - script: |
        python scripts/detect_ddl.py
      displayName: "Detect DDL"

    - script: |
        python scripts/execute_ddl.py
      displayName: "Execute DDL"



# -------------------------
# STAGE 2: MANUAL APPROVAL
# -------------------------
- stage: Approval
  displayName: "Manual Approval for DROP"
  dependsOn: DetectAndClassify
  condition: |
    and(
      succeeded(),
      contains(variables['Build.SourceVersionMessage'], 'DROP')
    )
  jobs:
  - job: approval
    displayName: "Approval Gate"
    pool: server
    steps:
    - task: ManualValidation@0
      inputs:
        instructions: "DROP TABLE detected. Please approve to continue."
        timeoutInMinutes: 1440

# -------------------------
# STAGE 3: EXECUTION
# -------------------------
- stage: ExecuteDDL
  displayName: "Execute Approved DDL"
  dependsOn:
    - DetectAndClassify
    - Approval
  condition: |
    or(
      succeeded('Approval'),
      not(contains(variables['Build.SourceVersionMessage'], 'DROP'))
    )
  jobs:
  - job: execute
    displayName: "DDL Execution Job"
    pool:
      vmImage: ubuntu-latest

    steps:
    - checkout: self
      fetchDepth: 0
    - task: UsePythonVersion@0
      inputs:
        versionSpec: $(PYTHON_VERSION)

    - script: |
        pip install --upgrade pip
        pip install databricks-sql-connector
      displayName: "Install Databricks SQL Connector"

    - script: |
        pip install --upgrade pip
        pip install databricks-cli
      displayName: "Install Dependencies"

    - script: |
        python scripts/execute_ddl.py
      displayName: "Execute DDL"
      env:
        DATABRICKS_HOST: $(Databricks_Host)
        DATABRICKS_TOKEN: $(Databricks_Token)
        DATABRICKS_HTTP_PATH: $(Databricks_Http_Path)

    - script: |
        python scripts/ledger_update.py
      displayName: "Update Ledger"
